#home{
  min-height:calc(100vh - 80px);
  padding: 1rem 8vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .container{
    width: 100%;
    display: flex;

    .text{
      width:50%;

      h1{
        color: $primary;
        font-size: 40px;
        margin-bottom: 1.5rem;
      }

      h2{
        color: $secondary;
        font-size: 30px;
        margin-bottom: 1.5rem;

        span{
          color: $primary;
        }

        &:last-of-type{
          margin-bottom:3.5rem;
        }

        &:first-of-type{
          margin-top:2.5rem;
        }
      }

      a{
        color:white;
        background:$primary;
        padding:1.2rem 1.5rem;
        transition: .5s;
        font-weight: 600;
      }

      a:hover{
        transform: scale(1.1);
      }
    }

    .illustration{
      width:50%;
      display: flex;
      justify-content: flex-end;

      img{
        width:70%;
      }
    }
  }
}

// tablets

@media(max-width:1024px) and (min-width:700px)
{

}

// mobile devices

@media(max-width:640px) and (min-width:281px)
{
  #home{
    padding:1rem 10vw;

    .container{
      flex-direction: column;
      align-items: center;

      .text{
        width:100%;
        margin-bottom: 2rem;

        h1{
          font-size: 22px;
          
        }

        h2{
          font-size: 18px;
        }

        h2:first-of-type{
          margin-top:1rem;
        }

        h2:last-of-type{
          margin-bottom: 2rem;
        }

        a{
          font-size: 12px;
          padding: .8rem 1.2rem;
        }
      }

      .illustration{
        margin-top: 2rem;
        width:100%;
        justify-content: center;
        
        img{
          width: 80%;
        }
      }
    }



  }
}

// Galaxy fold 

@media(max-width:280px)
{

}