.opened{
  width:37% !important;
}

.white{
  background:white !important;
}

.bars.clicked{
  z-index:5000;
  flex-direction: row;

  .bar{
    position:absolute;

    &:first-of-type{
      transform: rotate(45deg);
    }

    &:last-of-type{
      transform: rotate(-45deg);
    }

    &:nth-of-type(2){
      display: none;
    }

  }
}

nav.sticky{
  position: sticky;
  top:0px;
  background:$primary;
  padding-top: 1rem;
  transition: .5s;
  .desktop-list{
    a{
      color:white;

      &::after{
        background:white;
      }
    }
  }
  .bars{
    z-index:600;
    overflow: hidden;
    .bar{
      background:white;
    }
  }
  .icon{
    color:white;
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 8vw;
  padding-top: 2rem;
  transition: .3s;
  background:#f4f4f4;
  z-index:5;

  .bars{
    display: none;
  }

  .icon{
    width:2.5rem;
    height:2.5rem;
    color:$primary;
    animation:8s rotate infinite forwards linear;
  }

  @keyframes rotate{
    from{
      transform: rotate(0deg);
    }

    to{
      transform: rotate(360deg);
    }
  }

  .desktop-list{
    a{
      font-weight: 600;
      color: $primary;
      margin-left: 1.5rem;
      position: relative;
    }

    a::after{
      content:"";
      background:$primary;
      width:100%;
      height:3px;
      position:absolute;
      bottom:-10px;
      right:0px;
      border-radius: 50px;
      transform: scale(0 , 1);
      transition: .7s;
    }

    a:hover::after{
      transform: scale(1 , 1);
    }
  }

  .mobile-list{
    display: none;
  }
}










// tablets

@media(max-width:1024px) and (min-width:700px)
{
  nav{
    .desktop-list{
      display: none;
    }

    .bars{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;
      
      
      width:25px;
      height:20px;

      .bar{
        width:100%;
        height:4px;
        border-radius: 50px;
        background:$primary;
        transition: .3s;
      }
    }

    .mobile-list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width:0%;
      top: 0px;
      right:0px;
      height: 110vh;
      background:$primary;
      overflow:hidden;
      transition: .5s;
      box-shadow: -2px 2px 14px 0px rgba(0,0,0, 0.2);

      a{
        color:white;
        font-weight: 500;
        margin-bottom:.75rem;
      }
    }
  }


}








// mobile devices

@media(max-width:640px) and (min-width:281px)
{
  nav.sticky{
    position: sticky;
    top:0px;
    background:#f4f4f4;
    padding-top: 2rem;
    transition: .3s;
    .desktop-list{
      a{
        color:white;
  
        &::after{
          background:white;
        }
      }
    }
  
    .bars{
      z-index:600;
      .bar{
        background:$primary;
      }
    }
  
    .icon{
      color:$primary;
    }
  }

  nav{
    padding: 1rem 10vw;
    padding-top: 2rem;

    .desktop-list{
      display: none;
    }

    .bars{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;
      
      
      width:25px;
      height:20px;

      .bar{
        width:100%;
        height:4px;
        border-radius: 50px;
        background:$primary;
        transition: .3s;
      }
    }

    .mobile-list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width:0%;
      top: 0px;
      right:0px;
      height: 105vh;
      background:$primary;
      overflow:hidden;
      transition: .5s;
      box-shadow: -2px 2px 14px 0px rgba(0,0,0, 0.2);

      a{
        color:white;
        font-weight: 500;
        margin-bottom:.75rem;
      }
    }

  }
}











// Galaxy fold

@media(max-width:280px)
{

}