#skills{
  min-height: 85vh;
  padding:1rem 8vw;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

  .container{
    width: 100%;

    .header{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom:1.5rem;

      h1{
        color:$secondary;
        font-size: 25px;
      }

      h2{
        color: $primary;
        position:relative;
        font-size: 18px;
      
        &::after , &::before{
          content:"";
          background:$secondary;
          width:30px;
          height:4px;
          border-radius: 50px;
          position: absolute;
          top:50%;
          transform: translateY(-50%);
        }

        &::after{
          right:-40px;
        }

        &::before{
          left:-40px;
        }
      
      }
    }

    .wrapper{
      width:100%;
      position: relative;
      display: flex;

      .skills{
        width:50%;
        padding:1rem;
        display: flex;
        justify-content: center;

        .grid{
          display: grid;
          grid-template-columns: repeat(4 , auto);
          gap:50px;

          .skill{
            width:100px;
            height:100px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon{
              width:3rem;
              height:3rem;
            }

            img{
              width:30%;
            }
          }
        }
        
      }

      .about{
        margin-top:2rem;
        width:50%;
        padding:2.5rem;

        h1{
          text-align: center;
          color:$secondary;
          margin-bottom: 1rem;
        }

        p{
          color:$secondary;
          font-size: 18px;
          line-height: 38px;
        }
      }
    }
    

  }
}

// tablets

@media(max-width:1024px) and (min-width:700px)
{
  #skills{
    .container{
      .wrapper{
        flex-direction: column;

        .skills{
          width:100%;
        }

        .about{
          width:100%;
        }
      }
    }
  }
}

// mobile devices

@media(max-width:640px) and (min-width:281px)
{
  #skills{
    .container{
      .header{
        h1{
          font-size: 18px;
        }

        h2{
          font-size: 14px;
        }
      }

      .wrapper{
        flex-direction: column;

        .skills{
          width:100%;

          .grid{
            gap:8px;

            .skill{
              height:75px;
              width:75px;

              .icon{
                width:2rem;
                height:2rem;
              }
            }
          }

        }

        .about{
          margin-top:.5rem;
          width:100%;
          padding:.5rem 0;
          
          h1{
            font-size: 18px;
          }

          p{
            font-size: 13px;
          }
        }
        
      }
    }
  }
}

// Galaxy fold

@media(max-width:280px)
{

}

