#skills{
  min-height: 100vh;
  padding:1rem 8vw;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

  .container{
    width: 100%;

    .header{
      display: flex;
      flex-direction: column;
      align-items: center;

      h1{
        color:$secondary;
        font-size: 25px;
      }

      h2{
        color: $primary;
        position:relative;
        font-size: 18px;
      
        &::after , &::before{
          content:"";
          background:$secondary;
          width:30px;
          height:4px;
          border-radius: 50px;
          position: absolute;
          top:50%;
          transform: translateY(-50%);
        }

        &::after{
          right:-40px;
        }

        &::before{
          left:-40px;
        }
      
      }
    }

    .wrapper{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
      grid-auto-rows: 250px;
      grid:15px;

      .skill{
        display: flex;
        justify-content: center;
        align-items: center;

        .icon{
          width:125px;
          height: 125px;
        }
        

      }

      .figma{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width:35%;
        }
      }

      .mysql{
  
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width:60%;
        }
        
      }
    }

  }
}