#skills{
  min-height: 100vh;
  padding:1rem 8vw;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

  .container{
    width: 100%;

    .header{
      display: flex;
      flex-direction: column;
      align-items: center;

      h1{
        color:$secondary;
        font-size: 25px;
      }

      h2{
        color: $primary;
        position:relative;
        font-size: 18px;
      
        &::after , &::before{
          content:"";
          background:$secondary;
          width:30px;
          height:4px;
          border-radius: 50px;
          position: absolute;
          top:50%;
          transform: translateY(-50%);
        }

        &::after{
          right:-40px;
        }

        &::before{
          left:-40px;
        }
      
      }
    }

    .wrapper{
      
    }

  }
}

// tablets

@media(max-width:1024px) and (min-width:700px)
{

}

// mobile devices

@media(max-width:640px) and (min-width:281px)
{
  #skills{
    .container{
      .header{
        h1{
          font-size: 18px;
        }

        h2{
          font-size: 14px;
        }
      }

      .wrapper{
        grid-template-columns: repeat(3,auto);
        grid-auto-rows: initial;

        .skill{


          .icon{
            width:60%;
            height:60%;
          }


        }
      }
    }
  }
}

// Galaxy fold

@media(max-width:280px)
{

}

